{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help Desk Ticket</title>
    <!-- <link rel="stylesheet" href="../menu-messages/css/menu-messages.css"> -->
    <link rel="stylesheet" href="{% static "/menu-messages/css/menu-messages.css" %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    

   <div id="main" class="container-fluid">
       <div id="head-menu1" class="row">
            <div id="menu1" class="col-12 navbar">
                <!-- <img id="logo" class="img" src="../menu-messages/image/help-desk-icon-png-4.png" alt="Logo"> -->
                <img id="logo" class="img" src="{% static "/menu-messages/image/help-desk-icon-png-4.png" %}" alt="Logo">
                <a class= "bttn btn btn-primary" href= "" role= "button" > Messages </a>
                <a class= "bttn btn btn-primary" href= "../technical-tickets/index.html" role= "button" > Tickets </a>
                <a class= "bttn btn btn-primary" href= "../profile/index.html" role= "button" > Profile </a>
                <a class= "bttn btn btn-primary" href= "../" role= "button" > Log out </a>
            </div>
        </div>
        <div id="menu-content" class="row">
            <div id="menu2" class="col-2 navbar flex-column">
                <p id="tex-menu" class="text">Menu Messages</p>
                <a class= "bttn btn btn-vertical btn-outline-success" href="../Nuevo_Mensaje/" role= "button" ata-toggle="tooltip" data-placement="right" title="Descriptive text."> Write </a>
                <a class= "bttn btn btn-vertical btn-outline-success" href="../Leer_Mensajes/" role= "button" ata-toggle="tooltip" data-placement="right" title="Descriptive text."> Read </a>
                <a class= "bttn btn btn-vertical btn-outline-success" href="../Chat_Mensaje/" role= "button" ata-toggle="tooltip" data-placement="right" title="Descriptive text."> Chat </a>
            </div>
            <div id="content" class="col-10">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-4">Select option!</h1>
                        <p class="lead">The options are from menu <span class="badge badge-pill badge-info">side</span>side or <span class="badge badge-pill badge-info">top</span> bar.</p>
                    </div>
                </div>
            </div>        
        </div>
        <div id="footering" class="row">
            <div id="foot" class="col-12">
                <p id="text-foot">Administration ticket system</p>
            </div>
        </div>

   </div>
</body>
</html>