{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help Desk Ticket</title>
    <link rel="stylesheet" href="{% static "/userprofile/css/profile.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
   <div id="main" class="container-fluid">
       <div id="head-menu1" class="row">
            <div id="menu1" class="col-12 navbar">
                <img id="logo" class="img" src="{% static "/userprofile/image/help-desk-icon-png-4.png" %}" alt="Logo">
                <a class= "bttn btn btn-primary" href= "../menu-messages/index.html" role= "button" > Messages </a>
                <a class= "bttn btn btn-primary" href= "../technical-tickets/index.html" role= "button" > Tickets </a>
                <a class= "bttn btn btn-primary" href= "../profile/index.html" role= "button" > Profile </a>
                <a class= "bttn btn btn-primary" href= "../log-in/index.html" role= "button" > Log out </a>
            </div>
        </div>
        <div id="menu-content" class="row">
            <div id="menu2" class="col-2 navbar flex-column">
                <p id="tex-menu" class="text">Menu Profile</p>
                <a class= "bttn btn btn-vertical btn-outline-success" href= "../my-profile/index.html" role= "button" ata-toggle="tooltip" data-placement="right" title="Descriptive text."> My profile </a>
                <a class= "bttn btn btn-vertical btn-outline-success" href= "../add-profile/index.html" role= "button" ata-toggle="tooltip" data-placement="right" title="Descriptive text."> Add profile </a>
                <a class= "bttn btn btn-vertical btn-outline-success" href= "../delete-profile/index.html" role= "button" ata-toggle="tooltip" data-placement="right" title="Descriptive text."> Delete profile </a>
            </div>
            <div id="content" class="col-10">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-4">Select option!</h1>
                        <p class="lead">The options are from menu <span class="badge badge-pill badge-info">side</span>side or <span class="badge badge-pill badge-info">top</span> bar.</p>
                    </div>
                </div>
            </div>        
        </div>
        <div id="footering" class="row">
            <div id="foot" class="col-12">
                <p id="text-foot">Administration ticket system</p>
            </div>
        </div>

   </div>
</body>
</html>